<!-- fontsize.ejs -->
<ul id="ul-font-size">
    <h4>字體大小</h4>
    <li class="li-font-size-item">
        <a href="">放大</a>
    </li>
    <span class="divider"></span>
    <li class="li-font-size-item">
        <a href="">重設</a>
    </li>
    <span class="divider"></span>
    <li class="li-font-size-item">
        <a href="">縮小</a>
    </li>
    <span class="divider"></span>
</ul>
<input class="input-searchbar" placeholder="搜尋..."></input>