<!-- header.ejs -->
<header>
    <ul id="ul-font-size">
        <h4>字體大小</h4>
        <li class="li-font-size-item">放大</li>
        <li class="li-font-size-item">重設</li>
        <li class="li-font-size-item">縮小</li>
    </ul>
    <input></input>
</header>