
<nav>
    <ul id="navbar">
        <li><a href="">HOME</a></li>
        <li><a href="">遠東集團</a></li>
        <li><a href="">亞洲水泥</a></li>
    </ul>
    <img id="img-logo" src="/logo.png">
    <img src="/personal1.jpg" width="100%"> 
</nav>