header {
    display: flex;
    justify-content: end;
    padding: 0.5em 2em 0.5em 0.5em;
}

body {
    background-color: #e0dedf;
    margin: 0;
}

h1 {
    margin: 0;
}

h4 {
    margin: 0 1em;
}

li {
    list-style-type: none;
}

nav {
    margin: 0 0.75em 0 0.75em;
    position: relative;
}

footer {
    padding: 15px 10px 15px 20px;
    background-color: #5b5b5d;
}

#ul-font-size {
    margin: 0;
    padding: 0.25em 2em 0.25em 1em;
    display: flex;
    justify-content: end;
    gap: 1 rem;
}

#div-all {
    margin: 0 auto;
    background: #fff;
    font-size: 0.8em;
    max-width: 1050px;
}

#navbar {
    display: flex;
    /* margin: 0 0.75em 0 0.75em; */
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    border-top: solid 1px #ddd;
    box-shadow: #fff 0px 2px 0px inset;
}

#navbar li {
    padding: 0.5em 0.8em;
}

#navbar li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#img-logo {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 4em;
    left: 2em;
}

#breadcrumbs {
    margin: 15px 20px 15px 0px;
}

#breadcrumbs :is(span, a) {
    font-size: 0.85em;
}

#div-left-nav h3 {
    font-family: 'Titillium Maps', Arial;
    color: #555;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.19em;
}

#div-contentarea {
    padding: 0px 20px;
}

#footer-text {
    color: #fff;
    margin: 0;
}

.divider {
    margin: 0 1em 0 0.5em;
    border-right: 1px solid #ccc;
}